:root{

    /*======== COLORES PRINCIPALES ========*/

    --primary:#2563EB;
    --primary-dark:#1D4ED8;
    --primary-light:#60A5FA;

    --secondary:#10B981;
    --secondary-dark:#059669;

    --info:#06B6D4;

    --warning:#F59E0B;
    --warning-dark:#D97706;

    --danger:#EF4444;
    --danger-dark:#DC2626;

    --purple:#7C3AED;

    /*======== GRISES ========*/

    --gray-900:#111827;
    --gray-700:#374151;
    --gray-500:#6B7280;
    --gray-400:#9CA3AF;
    --gray-300:#D1D5DB;
    --gray-200:#E5E7EB;
    --gray-100:#F3F4F6;
    --background:#032e5a;
    --white:#FFFFFF;

    /*======== RADIOS ========*/

    --radius-sm:0.25rem;
    --radius-md:0.375rem;
    --radius-lg:0.5rem;

}